body {
	font-family: 'Montserrat', sans-serif;
	padding-top:0!important;
}
h1, h2, h3, h4, h5, .navbar {
	font-family: 'Oswald', sans-serif;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	color:black;
}

.home-slide-1 {
	background-image: linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.5)) , url(../images/Black-Bear-in-Grass.jpg);
	background-size:cover;
	background-position:center;

}

.home-slide-2 {
	background-image: linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.5)) , url(../images/Elk-in-Water.jpg);
	background-size:cover;
	background-position:center;

}

.home-slide-3 {
	background-image: linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.5)) , url(../images/Brown-Bear-in-Clearing.jpg);
	background-size:cover;
	background-position:center;

}

.carousel h1 {
	color:white;
}

/* buttons */

.btn-primary {
    color: #fff;
    background-color: #ad4513;
    border-color: #ad4513;
}

.btn-primary:hover {
    color: #fff;
    background-color: #ce551b;
    border-color: #ce551b;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #ce551b;
    border-color: #ce551b;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgb(173, 69, 19);
}

/* logo */
@media screen and (min-width:1px) {
	.navbar-brand img {
		width: 50px;
	}
}
@media screen and (min-width:1200px) {
		.navbar-brand img {
			width:90px;
		}
}
/* nav */
.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.91);
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 800;
}
@media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .nav-link {
	    padding-right: 1.5rem;
	    padding-left: .5rem;
	}
}
/* state cards */
.state-card-img {
	background-color:#1C590A;
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	height:10rem;
}
.state-card-img-name {
	color: white;
}

.state-alabama-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Moose-in-Field.jpg);
}

.state-alaska-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Black-Bear-in-Grass.jpg);
}

.state-arizona-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Pronghorn-in-Field.jpg);
}

.state-arkansas-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Dove-on-Branch.jpg);
}

.state-california-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Duck-Mallard-in-Flight.jpg);
}

.state-colorado-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Brown-Bear-in-Clearing.jpg);
}

.state-connecticut-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Canadian-Goose-in-Flight.jpg);
}

.state-delaware-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
}

.state-florida-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Mule-Deer-by-Water.jpg);
}

.state-georgia-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Pheasant-Two-in-Field.jpg);
}

.state-hawaii-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Quail-Female-Closeup.jpg);
}

.state-idaho-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Whitetail-Deer-on-Hill.jpg);
}

.state-illinois-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Canadian-Goose-in-Flight.jpg);
}

.state-indiana-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Brown-Bear-in-Clearing.jpg);
}

.state-iowa-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Pheasant-Two-in-Field.jpg);
}

.state-kansas-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Quail-Female-Closeup.jpg);
}

.state-kentucky-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Whitetail-Deer-on-Hill.jpg);
}

.state-louisiana-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Duck-Mallard-in-Flight.jpg);
}

.state-maine-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Dove-on-Branch.jpg);
}

.state-maryland-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Brown-Bear-in-Clearing.jpg);
}

.state-massachusetts-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Black-Bear-in-Grass.jpg);
}

.state-michigan-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Mule-Deer-by-Water.jpg);
}

.state-minnesota-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
}

.state-mississippi-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Canadian-Goose-in-Flight.jpg);
}

.state-missouri-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Pronghorn-in-Field.jpg);
}

.state-montana-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Quail-Female-Closeup.jpg);
}

.state-nebraska-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Pheasant-Two-in-Field.jpg);
}

.state-nevada-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
}

.state-new-hampshire-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Dove-on-Branch.jpg);
}

.state-new-jersey-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Duck-Mallard-in-Flight.jpg);
}

.state-new-mexico-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Grizzly-in-Grass.jpg);
}

.state-new-york-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Mule-Deer-by-Water.jpg);
}

.state-north-carolina-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Canadian-Goose-in-Flight.jpg);
}

.state-north-dakota-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Pheasant-Two-in-Field.jpg);
}

.state-ohio-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Whitetail-Deer-on-Hill.jpg);
}

.state-oklahoma-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Quail-Female-Closeup.jpg);
}

.state-oregon-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
}

.state-pennsylvania-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Pronghorn-in-Field.jpg);
}

.state-rhode-island-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Dove-on-Branch.jpg);
}

.state-south-carolina-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Duck-Mallard-in-Flight.jpg);
}

.state-south-dakota-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Mule-Deer-by-Water.jpg);
}

.state-tennessee-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Grizzly-in-Grass.jpg);
}

.state-texas-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Pronghorn-in-Field.jpg);
}

.state-utah-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
}

.state-vermont-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Pheasant-Two-in-Field.jpg);
}

.state-virginia-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Quail-Female-Closeup.jpg);
}

.state-washington-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Moose-in-Field.jpg);
}

.state-west-virginia-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Whitetail-Deer-on-Hill.jpg);
}

.state-wisconsin-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Canadian-Goose-in-Flight.jpg);
}

.state-wyoming-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Black-Bear-in-Grass.jpg);
}

.canada-alberta-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
}

.canada-british-columbia-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
}

.canada-manitoba-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
}

.canada-new-brunswick-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
}

.canada-newfoundland-labrador-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
}

.canada-northwest-territories-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
}

.canada-nova-scotia-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
}

.canada-nunavut-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
}

.canada-ontario-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
}

.canada-prince-edward-island-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
}

.canada-quebec-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
}

.canada-saskatchewan-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
}

.canada-yukon-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
}

/* by state jumbotron */
.jumbotron {
	border-radius:0;
}

.state-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.state-alabama-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Moose-in-Field.jpg);
}

.state-alaska-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Black-Bear-in-Grass.jpg);
}

.state-arizona-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Pronghorn-in-Field.jpg);
}

.state-arkansas-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Dove-on-Branch.jpg);
}

.state-california-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Duck-Mallard-in-Flight.jpg);
}

.state-colorado-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Brown-Bear-in-Clearing.jpg);
}

.state-connecticut-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Canadian-Goose-in-Flight.jpg);
}

.state-delaware-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
}

.state-florida-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Mule-Deer-by-Water.jpg);
}

.state-georgia-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Pheasant-Two-in-Field.jpg);
}

.state-hawaii-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Quail-Female-Closeup.jpg);
}

.state-idaho-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Whitetail-Deer-on-Hill.jpg);
}

.state-illinois-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Canadian-Goose-in-Flight.jpg);
}

.state-indiana-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Brown-Bear-in-Clearing.jpg);
}

.state-iowa-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Pheasant-Two-in-Field.jpg);
}

.state-kansas-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
}

.state-kentucky-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Whitetail-Deer-on-Hill.jpg);
}

.state-louisiana-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Duck-Mallard-in-Flight.jpg);
}

.state-maine-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Dove-on-Branch.jpg);
}

.state-maryland-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Brown-Bear-in-Clearing.jpg);
}

.state-massachusetts-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Black-Bear-in-Grass.jpg);
}

.state-michigan-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Mule-Deer-by-Water.jpg);
}

.state-minnesota-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
}

.state-mississippi-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Canadian-Goose-in-Flight.jpg);
}

.state-missouri-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Pronghorn-in-Field.jpg);
}

.state-montana-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Quail-Female-Closeup.jpg);
}

.state-nebraska-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Pheasant-Two-in-Field.jpg);
}

.state-nevada-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
}

.state-new-hampshire-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Dove-on-Branch.jpg);
}

.state-new-jersey-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Duck-Mallard-in-Flight.jpg);
}

.state-new-mexico-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Grizzly-in-Grass.jpg);
}

.state-new-york-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Mule-Deer-by-Water.jpg);
}

.state-north-carolina-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Canadian-Goose-in-Flight.jpg);
}

.state-north-dakota-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Pheasant-Two-in-Field.jpg);
}

.state-ohio-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Whitetail-Deer-on-Hill.jpg);
}

.state-oklahoma-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Quail-Female-Closeup.jpg);
}

.state-oregon-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
}

.state-pennsylvania-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Pronghorn-in-Field.jpg);
}

.state-rhode-island-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Dove-on-Branch.jpg);
}

.state-south-carolina-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Duck-Mallard-in-Flight.jpg);
}

.state-south-dakota-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Mule-Deer-by-Water.jpg);
}

.state-tennessee-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Grizzly-in-Grass.jpg);
}

.state-texas-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Pronghorn-in-Field.jpg);
}

.state-utah-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
}

.state-vermont-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Pheasant-Two-in-Field.jpg);
}

.state-virginia-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Quail-Female-Closeup.jpg);
}

.state-washington-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Moose-in-Field.jpg);
}

.state-west-virginia-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Whitetail-Deer-on-Hill.jpg);
}

.state-wisconsin-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Canadian-Goose-in-Flight.jpg);
}

.state-wyoming-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Black-Bear-in-Grass.jpg);
}

.canada-alberta-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
}

.canada-british-columbia-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
}

.canada-manitoba-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
}

.canada-new-brunswick-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
}

.canada-newfoundland-labrador-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
}

.canada-northwest-territories-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
}

.canada-nova-scotia-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
}

.canada-nunavut-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
}

.canada-ontario-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
}

.canada-prince-edward-island-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
}

.canada-quebec-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
}

.canada-saskatchewan-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
}

.canada-yukon-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Elk-in-Water.jpg);
}

.state-jumbotron .jumbotron-heading {
	color: white;
}
.contact-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Grizzly-in-Grass.jpg);
}
.about-jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) , url(../images/Duck-Mallard-in-Flight.jpg);
}
/* headers */
@media (max-width: 768px) {
	.display-3 {
	    font-size: 2rem;
	}
}


